.header {
  width: 100%;
}

.header_top {
  width: 100%;
  position: relative;
}
.header_top::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: #000000;
  top: 0%;
  opacity: 70%;
  pointer-events: none;
}
.hdtop {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  min-height: 107px;
  max-height: 100%;
  padding: 10px 0px;
}
.header_left {
  width: 100%;
  display: flex;
  z-index: 2;

  align-items: center;
}

.header_left--logo {
  width: 100%;
}

.header_left--logo img {
  width: 50%;
}

.header_right {
  width: 100%;
  z-index: 2;
}

.header_right--top {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.right_top--content2 p a {
  color: rgb(86 230 254);
  padding: 0px 20px;
  font-family: "SFCompactDisplay Thin", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
}

.right_top--content2 p {
  position: relative;
  margin-bottom: 0px;
}

.right_top--content2 p::before {
  width: 1px;
  height: 15px;
  content: " ";
  position: absolute;
  background: rgb(89 239 252);
  display: flex;
  top: 23%;
}

.right_top--content2.no-before p::before {
  content: none;
}

.right_top--content2.no-before p i {
  padding: 0px 10px 0px 0px;
}

.header_right-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
}

.bottom_left {
  padding: 10px 0px;
}

.bottom_left img {
  width: 80%;
}

.bottom_right p {
  margin-bottom: 0px;
  font-family: "SFCompactDisplay Regular ", sans-serif;
  font-size: 10px;
  padding-top: 6px;
  color: rgb(87 232 253);
}

.bottom_right strong {
  font-family: "SFCompactDisplay Medium", sans-serif;
  color: #55e5fd;
}

/* MENU HEADER */
.header_menu {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  position: relative;
  display: grid;
  grid-template-columns: 61% 39%;
}

.menu_left {
  width: 61%;
  background: linear-gradient(to right, #141e30, #35577d);
  min-height: 66px;
  max-height: 100%;
  position: absolute;
  right: 39%;
  top: -15%;
}

.menu_left--contents {
  display: flex;
  padding: 15px 0px 15px 15px;
  padding-left: calc(-570px + 50vw);
}

.menu_left--content p a {
  color: rgb(255, 255, 255);
  padding: 0px 20px;
  font-family: "SFCompactDisplay Thin", sans-serif;
  font-size: 10px;
  font-weight: 100;
  text-decoration: none;
}

.menu_left--content p {
  position: relative;
  margin-bottom: 0px;
}

.menu_left--content p::before {
  width: 1px;
  height: 15px;
  content: " ";
  position: absolute;
  background: rgb(255, 255, 255);
  display: flex;
  top: 23%;
}

.menu_left--content.no-before p::before {
  content: none;
}

.menu_left--content.no-before p a {
  color: rgb(255, 255, 255);
  padding: 0px 20px 0px 0px;
  font-family: "SFCompactDisplay Thin", sans-serif;
  font-size: 10px;
  font-weight: 100;
}

.menu_right {
  height: 50px;
  padding-right: calc(-570px + 50vw);
  padding-right: 15px;
}

.triangle-up1 {
  width: 0px;
  height: 0px;
  border-left: 0px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #35577d;
  position: absolute;
  bottom: 100%;
  left: 61%;
}

.triangle-up2 {
  width: 0px;
  height: 0px;
  border-left: 0px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #35577d;
  position: absolute;
  top: 100%;
  left: 61%;
}

.menu_contents {
  height: 50px;
  padding: 5px 25px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

/* MOBILE MENU */
.mobile_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile_menu {
    display: block;
    background: #e90000;
    color: white;
    padding: 10px;
    position: relative;
    width: 50%;
    z-index: 9999;
    overflow-y: auto;
  }

  .burger-container {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-container .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ease;
  }

  .mobile_menu--contents {
    display: none;
    flex-direction: column;
    margin-top: 15px;
  }

  .mobile_menu--contents.open {
    display: flex;
  }

  .menu_item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0;
    display: block;
  }

  .burger-container.open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .burger-container.open .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-container.open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* Ẩn menu desktop */
  .header_right--top,
  .menu_left--contents,
  .menu_right,
  .menu_left {
    display: none;
  }

  .header_menu {
    display: block;
    height: 42px;
    background: #e90000;
  }
}

/* Điều chỉnh logo, layout nhỏ hơn */
@media screen and (max-width: 576px) {
  .header_top {
    grid-template-columns: 50% 50%;
  }

  .header_left--logo img {
    width: 70%;
  }
}

@media screen and (max-width: 431px) {
  .mobile_menu {
    width: 100vw;
  }

  .header_left--logo img {
    width: 70%;
  }
}
