body {
  overflow-x: hidden;
  background-image: url(images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.mainpr {
  width: 100%;
  margin-top: 35px;
}

.list {
  width: 100%;
}
.product_text p {
  color: rgb(37 99 235);
  font-size: 24px;
  font-weight: bolder;
}
.product_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 30px 0px;
}
.product_text {
}
.product_title {
}
.products {
}
.list_box--img {
  width: 100%;
}
.list_box--img img {
  width: 100%;
  height: 185px;
}
/* PRODUCT BOXES */
.explore_product--box,
.product_list--box,
.list_box--box {
  width: 100%;
  position: relative;
}

.product_box--img,
.list_box--img {
  width: 100%;
  margin-bottom: 15px;
}

.product_box--img img,
.list_box--img img {
  width: 100%;
}

.product_box--logo,
.list_box--logo {
  position: absolute;
  top: 0%;
  left: 5%;
}

.product_box--logo img,
.list_box--logo img {
  width: 100%;
}

.product_box--content,
.list_box--content {
  border-top: 1px solid rgb(48, 48, 48);
  padding-top: 15px;
  position: relative;
}

.product_box--content h6,
.list_box--content h6 {
  font-family: "SFCompactDisplay Medium", sans-serif;
  font-size: 14px;
  color: #209de6;
  font-weight: bold;
  margin-bottom: 0px;
}

.product_box--content p,
.list_box--content p {
  font-family: "SFCompactDisplay Light", sans-serif;
  font-size: 12px;
  color: rgb(58, 58, 58);
  margin-bottom: 0px;
}

.product_box--content ::after,
.list_box--content::after {
  content: "";
  background: #35577d;
  width: 44px;
  height: 3px;
  position: absolute;
  left: 0%;
  bottom: 99%;
}

.product_box--button,
.list_box--button {
  border: 1px solid #209de6;
  background: #209de6;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 90%;
  right: 0%;
  padding: 4px;
}

.product_box--button p,
.list_box--button p {
  margin-bottom: 0px;
  font-family: "SFCompactDisplay Light", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.product_list--titlejr::after {
  display: none;
}
.product_list--button a {
  text-decoration: none;
  background: rgb(32 157 230);
  border-radius: 5px;
  padding: 5px 20px;
  font-family: "SFCompactDisplay light", sans-serif !important;
  font-size: 12px !important;
  color: rgb(255, 255, 255) !important;
}

.product_list--button a:hover {
  text-decoration: none;
  background: #35577d;
}
.product_list--button p {
  width: 100%;
  margin-bottom: 0px !important;
}
.product_list--titlejr {
  flex: 40 1 auto;
  align-content: center;
  background: linear-gradient(
    -45deg,
    rgb(37 99 235) 93%,
    rgba(255, 255, 255, 0) 7%
  );
}
